@CHARSET "UTF-8";



/*主体*/
.wrapper{min-height: 500px;width: 1000px;clear:both;margin: 0 auto;}
.wrapper .desc{border-bottom: 3px solid #02319B;width: 100%;}
.wrapper .indextop{margin: 10px 0 0 30px;}
.wrapper .indextop .default{color:#EF7100;font-size: 20px;font-weight: 600;}
.wrapper .indextop span{margin-left: 20px;}
.wrapper .indextop span a{margin: 0 7px;color: #EF7100;font-weight: 600;}
.wrapper td.ct {font-size:14px; white-space:normal; padding-left: 8px; text-align: left;line-height:1.8em;vertical-align:top; padding-top:3px; padding-bottom:3px;}
.wrapper td.ct a {margin-right:10px;white-space:nowrap;}
.wrapper td.ctp { font-size:14px; font-weight:bold; border-right:1px dashed #ccc; padding-right: 8px; text-align: right; line-height:1.8em;vertical-align:top; padding-top:3px; padding-bottom:3px;white-space:nowrap;}
.wrapper tr.tclr {background: #f0f0f0;}

