@CHARSET "UTF-8";

/*顶部*/
.top{width: 100%;background-color: #F8F8F8;min-height: 20px; border-bottom: 1px solid #E4E4E4;}
.top .top_line{width: 1000px;margin: 0 auto;}
.top .top_line h3{display: block;float: left; width: 200px;margin-left: 10px;}
.top .top_line .reg_login{float: right; }
.top .top_line .reg_login a{margin: 0 5px; padding-left: 5px;}

/*头部*/
.header{background-color: #FFF;height: 75px;margin: 0 auto;width: 1000px;}
.header div{float: left;}
.header .logo{width: 180px; height: 75px}
.header .logo img{display:block;margin: 20px auto;}
.header .search{width: 530px;padding: 5px 10px;}
.header .search .search_input{width: 500px;margin: 10px 0; background-color: #02319B;}
.header .search .search_input select{margin: 4px 2px 4px 4px;}
.header .search .search_input .search_key{width: 250px;margin: 4px 2px 4px 4px;}
.header .search .search_input .search_btn{width: 80px;margin: 4px 2px 4px 4px;}
.header .search .hot{width: 500px;}
.header .publish{width: 130px;height: 75px;}
.header .publish a img{display:block;margin: 15px auto;}
.header .banner-city{float: left;text-align: center;border: 1px solid #02319B;margin-top: 5px;padding:10px 5px;width: 90px;overflow: hidden;}
.header .banner-city span{font-size: 24px;color:#02319B;font-family: 黑体;}

#city-list{padding:10px; width: 345px; background: #338de1; float: left; clear: both; position:absolute;top:25px; left:310px; z-index:1;}
#city-list ul{padding-bottom:5px; float:left;width:100%;}
#city-list li{width:80px; margin-bottom:5px; float:left; margin-left:5px;}
#city-list a{text-align:center; padding:4px 5px; display:block; color:#fff; font-size:14px;}
#city-list li a:hover{background:#ddeff5; color:#333; text-decoration:none;}
#city-list li.current a{background:#ddeff5; color:#333;}
#city-list .other{zoom: 1; clear: both; font-size: 12px; border-top: #fff 1px dashed; padding-top: 5px;width:99%;}
#city-list .other a{float:right;color:#fff; font-family:Arial;}
#city-list .other a:hover{ background:#ddeff5; color:#333; text-decoration:none;}

/*底部*/
.foot_info{color:#777;clear:both;font-size:12px;line-height:20px;padding: 5px 2px;}
.foot_info a{color:#777;}
.foot{border-top: 3px solid #02319B;background-image:url(images/bg_footer.gif);padding-top:10px;text-align:center}
.foot, .foot a{color:#000000;}

