.item-repeat h3{margin: 4px auto 1px; padding: 5px 10px;}
.item-repeat p{margin: 2px auto; padding: 5px 10px;}
.item{border-left: 1px solid #107fd8;border-right: 1px solid #107fd8;}
.item-title{background:#107fd8;width:auto;}
.item-repeat{background:white;border-bottom: 1px solid #107fd8;}

.publish_body{float:right;width:720px;display:inline;}
.publish_body .publish_box{border:1px solid #107fd8;margin:10px 0;}
.publish_box_content{padding:5px 10px;}
.publish_box_title{background-color: #107fd8; height:34px;}
.publish_box_title ul li{color:white; font-weight:bold; font-size:14px; padding:10px 0 0 15px;}

.publish_box_content h3{margin:8px auto 2px;}
.publish_box_content p{margin:5px auto 20px;}
.class2 span{margin: 2px 10px 2px 0;display: inline-block;}
.money_info{width: 660px;margin: 5px auto;background-color: #FFFBF6;border: 1px solid #FF9A00;padding: 5px 20px;}
#xieyi{margin:13px 5px 10px 5px;border:1px solid #CCC;background:#FAFAFA;padding:8px;height:200px;overflow:auto;font:12px/20px Verdana;display: none;}
#xieyi h2{width:150px;margin: 10px auto;font-size: 14px;}
.publish_box_content input{margin: 0 2px;}

.orange{color:#FF510A;font-size:12px;line-height: 30px;}
.ft12{font-size: 12px;}
.text2{border:1px solid #D3E4FE; background:#F5FBFF; color:#666; height:17px; line-height:17px; padding:0px 0 0 5px; width: 30px;}
.text1{border:1px solid #D3E4FE; background:#F5FBFF; color:#666; font-size:14px; height:30px; line-height:30px; padding:0px 0 0 10px;font-size:14px;}
.text3{border:1px solid #D3E4FE; background:#F5FBFF; color:#666; height:17px; line-height:17px; padding:0px 0 0 5px;}
.button1{color:#454545; font-size:14px; border:0px; background:url(../img/member/btn.jpg) no-repeat; font-weight:bold; height:38px; width:182px; line-height:38px; letter-spacing:1px;}
.txtArea{border:1px solid #D3E4FE; background:#F5FBFF; color:#666;padding:10px 0 0 10px; width:610px; height:180px; overflow-y:auto;font-size:14px;}
.txtArea2{border:1px solid #D3E4FE; background:#F5FBFF; color:#666;padding:10px 0 0 10px; width:610px; height:80px; overflow-y:auto;font-size:14px;}
.txtArea3{border:1px solid #D3E4FE; background:#F5FBFF; color:#666;padding:10px 0 0 10px; width:610px; height:40px; overflow-y:auto;font-size:14px;}
.txtArea4{border:1px solid #D3E4FE; background:#F5FBFF; color:#666;padding:10px 0 0 10px; width:610px; height:200px; overflow-y:auto;font-size:14px;}
.addfujian{padding-left: 15px; background: url(../img/member/add.jpg) no-repeat;}
.gray{color:#999;}
.font14{font-size:14px;}
.center{text-align:center;}
.cursor{cursor:pointer;}

.wb_box{width:253px; line-height:20px; float:left; margin:0 20px 0 0; overflow:hidden;}
.wb_box span{font-size:12px;}
.wb_box span.span1{font-size:14px;}
.wb_box p{font-size:12px;color:#666666; font-weight:normal; border:1px #DDD solid; padding:5px 10px; margin:0px 0 5px 5px;}

#wb_hangqing{position:absolute;z-index:2;background:#FFF;border:1px solid #0E6CC6;width:260px;display:none;margin:20px 0 0 380px;}
#wb_hangqing ul li{float:left;font-weight:normal;font-size:12px;color:#999;line-height:16px;font-family:verdana;}
#wb_hangqing ul li.li1{width:85px;color:#666;padding-left:3px;}
#wb_hangqing ul li.li2{width:59px;color:#222;text-align:center;}
#wb_hangqing ul li.li3{width:60px;color:#222;text-align:center;}
#wb_hangqing ul li.li4{width:53px;color:#222;text-align:center;}
#wb_hangqing ul li.wb_title{background:#3C8FDE;color:#FFF;}
#wb_hangqing ul li.wb_bg1{background:#f7f7f7;}