@charset "utf-8";
/* CSS Document */

#top{ background-image:url(../img/home2_r1_c3.jpg); height:31px; line-height:31px; background-repeat:repeat-x;}
#top .top_con{ width:951px; margin:0 auto;}
#top .top_con .top_l{ float:left;}
#top .top_con .top_r{ float:right; width:440px;text-align:right;}
#top .top_con .top_r span a{ margin-left:20px; color:#3E3C3D;}


#mian{ width:950px; margin:0 auto; font-family:"SimSun";}
#mian .current{color:#585858; font-size:13px; height:41px; line-height:41px;}
#mian .current a{ color:#585858;}
#mian .current a:hover{ color:#C00;}

#mian .con_left{ width:677px; float:left;}
#mian .con_left .con_left_subnav{ height:137px; border:1px solid #DCDCDC; background-color:#FEFCFD;}
#mian .con_left .con_left_subnav ul{ margin:18px 0 0 22px;}
#mian .con_left .con_left_subnav ul li{ width:58px; float:left; margin-right:33px; margin-bottom:12px; margin-bottom:10px!important; _margin-right:26px; _margin-left:4px;}
#mian .con_left .con_left_subnav ul li a span{color:#EE5D2E}
#mian .con_left .con_left_btm span{ color:#2778C9; font-size:13px;}
#mian .con_left .con_left_btm strong{ position:absolute; left:280px; color:#8A8A8A; font-weight:normal; font-size:14px;}
#mian .con_left .con_left_btm ul li{ position:relative; margin-bottom:14px; left:10px;}
#mian .con_left a{color:#333;}
#mian .con_left a:hover{ color:#C00;}
#mian .con_left .con_left_cn{ float:left; width:333px; border:1px solid #DCDCDC; margin-top:11px;}
#mian .con_left .con_left_cn ul li{ color:#646464;}
#mian .con_left .con_left_cn h3{padding-left:8px; background:url(../img/bar_r18_c19.jpg); height:32px; line-height:32px; background-repeat:repeat-x; margin-bottom:12px;}
#mian .con_left .le1{ margin-right:7px;}
#mian .con_left .con_left_btm .con{ border-top:1px solid #DCDCDC; }
#mian .con_right{ width:269px; float:right;}

#mian .con_right .con_right_con{border:1px solid #DCDCDC; margin-bottom:11px; font-size:13px;_font-size:12px;}
#mian .con_right .con_right_con h3{ background-image:url(../img/bar_r9_c24.jpg); height:30px; line-height:30px; background-repeat:repeat-x; padding-left:13px; margin-bottom:10px;}
#mian .con_right .con_right_con ul li{position:relative; left:13px; margin-bottom:14px;}
#mian .friendly_link{ color:#3E3E3E; font-size:13px; margin-top:11px;_font-size:12px; }
#mian .friendly_link span{#5A5A5A; font-weight:bold;}
#mian .friendly_link a{color:#3E3E3E;}
#mian .friendly_link_sc{ height:23px; border-bottom:1px solid #CDCDCD;}
#mian .friendly_link_sc a{ margin-right:17px;}
#mian .friedly_link_jc{ height:64px; border-bottom:1px solid #CDCDCD; line-height:32px;}
#mian .friedly_link_jc a{ margin-right:31px; _margin-right:28px;}
#mian .friedly_link_link{ height:42px; line-height:42px;}
#mian .friedly_link_link a{ margin-right:31px; _margin-right:28px;}
.copyright{text-align:center; line-height:20px; margin:0 auto; font-size:13px; padding-top:11px; border-top:1px solid #C4C4C4; margin-top:29px;}
.copyright a,.copyright a:visited{ color:#3E3E3E;}


.nav_top{ height:75px; position:relative; z-index:2;}
.nav_top .logo_a,.nav_top ul,.nav_top div,.nav_top p{ float:left; vertical-align:middle;}
.nav_top .logo_a{ margin:15px 25px 0 6px;}
.nav_top ul{ width:70px; text-align:center; margin-right:10px; font-family:14px; padding-top:22px;}
.nav_top ul li b{ font-size:20px; color:#F8662D;}
.nav_top ul li a{ color:#0651EB;}
.nav_top div{margin-top:20px; position:relative; width:391px; height:31px;}
.nav_top div input{ width:69px; height:31px; background:url(../img/home_r3_c5_s1.jpg) no-repeat; border:none; vertical-align:middle; cursor: pointer;}
.nav_top div .agg_a,.nav_top div .agg_a:visited{ width:98px; height:29px; line-height:29px; text-align:center; color:#8B8B8B; display:block; text-align:center; background:url(../img/agg_r2_c2.jpg) no-repeat right center; float:left; border:1px solid #CBCBCB; border-right:none; margin:0; padding:0; _margin:2px -3px 0 0;}
.nav_top div .agg_a:hover{ text-decoration:none;}
.nav_top div .sr_btn{ border:1px solid #CBCBCB; border-left:none; padding:0 3px; width:216px; height:29px; line-height:29px; font-size:16px; background:none; cursor:auto;}
.nav_top .serch_div ul{ width:96px; border:1px solid #CBCBCB; border-top:none; position:absolute; left:0px; top:31px;_top:33px; padding:0; z-index:99; margin:0; vertical-align:top;}
.nav_top .serch_div ul li{ height:24px; line-height:24px; padding:0; margin:0;}
.nav_top .serch_div ul li a,.nav_top .serch_div ul li a:visited{ width:96px; height:24px; display:block; color:#8C8C8C; background:#fff;}
.nav_top .serch_div ul li a:hover{ background:#499CE8; color:#BCFBFF; text-decoration:none;}
.nav_top p{ margin-top:20px;_margin-top:22px; height:31px; line-height:31px; text-align:center;}
.nav_top p input{ width:117px; height:31px; text-align:center; line-height:31px; font-size:14px; color:#fff; background:url(../img/home_r4_c7_s1.jpg) no-repeat; border:none; font-weight:bold; margin:0 25px;}
.nav_top p a{ color:#000;}
.nav_botttom{ height:39px; background:url(../img/home_r2_c2.jpg) no-repeat; line-height:39px;}
.nav_botttom ul li{ float:left; width:115px; text-align:center; font-weight:bold; font-size:14px; background:url(../img/right.jpg) no-repeat right center;}
.nav_botttom ul li a,.nav_botttom ul li a:visited{ color:#fff; width:113px; height:39px; display:block;}
.nav_botttom ul li a:hover,.nav_botttom ul li .now_a{ background:url(../img/jl_r4_c2.jpg) no-repeat center center; text-decoration:none;}
.nr_bq_top_y{ margin-top:12px;}
.nr_bq_top_y h2{ height:32px; line-height:32px; background:url(../img/h2.jpg) repeat-x; position:relative;}
.nr_bq_top_y h2 p{ right:60px; top:0px; position:absolute}

.nr_bq_top_y h2 p a{ font-weight:normal;}
.nr_bq_top_y h2 p input{ width:102px; height:28px; border:none; cursor:pointer; background:url(../img/bl_r4_c11.jpg) no-repeat; font-size:14px; font-weight:normal; color:#3850B4; margin-left:22px; padding-left:5px;}
.nr_bq_top_y h2 p .diyi_btn{ background:url(../img/lb_r4_c9.jpg) no-repeat;}
.nr_bq_top_y h2 div{ position:absolute; left:20px; top:-1px;_top:-2px; border-left:1px solid #CCCCCC; height:33px;}


.nr_bq_top_y h2 div .now_aa,.nr_bq_top_y h2 div a:hover{ background:#fff; border-bottom:1px solid #fff; font-weight:bold; text-decoration:none;}
.nr_bq_top_y h2 div a{ float:left; height:31px; padding:0 12px; background:#F7F7F7; border:1px solid #CDCDCD; border-left:none; font-size:14px; color:#444444; font-weight:normal;}

.nr_bq_top_y table{ border-left:1px solid #E2E2E2; border-right:1px solid #E2E2E2; width:953px;}
.nr_bq_top_y table tr{ width:953px;}
.nr_bq_top_y table tr td{ height:37px; line-height:37px; border-bottom:1px solid #F4F4F4;}
.nr_bq_top_y table tr td b{ font-weight:normal; font-size:13px;}
.nr_bq_top_y table tr td .zj_b{ color:#A35407;}
.nr_bq_top_y table tr td a{ color:#223DE2; font-size:14px;}
.nr_bq_top_y table tr td img{ vertical-align:middle;}
.nr_bq_top_y table tr td span{ font-size:13px; color:#6A6A6A; margin:0 4px;}
.nr_bq_top_y table tr .td_1{ width:455px; padding-left:20px;}
.nr_bq_top_y table tr .td_2{ width:256px;}
.nr_bq_top_y table tr .td_3{ width:101px;}
.nr_bq_top_y table tr .td_2 a{ font-size:13px;}
.nr_bq_top_y table tr .td_4{ text-align:center; width:119px;}
.nr_bq_top_y table tr .td_4,.nr_bq_top_y table tr .td_3{ font-size:13px;}
.nr_bq_top_y table tr .td_top_left,.nr_bq_top_y table tr .td_top{ padding-left:20px; font-size:13px;}
.nr_bq_top_y table tr .td_top_left a,.nr_bq_top_y table tr .td_top a{ font-size:14px; margin-right:8px;}
.nr_bq_top_y h3{ height:38px; line-height:38px; border:1px solid #E2E2E2; border-top:none; padding-left:75px;}
.nr_bq_top_y h3 a{ color:#2C3FE4; border:1px solid #CECECE; padding:4px 6px; font-weight:normal;}


.nav_top .hc{ display:none; position:absolute; left:100px; top:25px;}


/*3.16*/

.index_a{ float:left; width:650px; height:70px; display:block; margin-top:2px; overflow:hidden;}
#tab_link {	CLEAR: both; MARGIN-TOP: 10px; OVERFLOW: hidden; CURSOR: pointer; FONT-FAMILY: Arial; HEIGHT: 20px}
#tab_link SPAN {PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px}
#tab_link .selected {BORDER-RIGHT: #a6daf0 1px solid; BORDER-TOP: #a6daf0 1px solid; BACKGROUND: #f1f9ff; BORDER-LEFT: #a6daf0 1px solid; COLOR: #000; BORDER-BOTTOM: #a6daf0 1px solid}
#line {	CLEAR: both; BORDER-TOP: #a6daf0 1px solid; MARGIN-BOTTOM: 5px; BORDER-BOTTOM: #f1f9ff 2px solid; height:auto; margin:0; width:399px;
}
A.hot {	COLOR: #f60}
A.hot:hover {TEXT-DECORATION: underline}
#tab1 {	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; width:auto; text-align:left; font-size:12px;}
#tab1 LI {	FLOAT: left; WIDTH: 250px; COLOR: #000}
#tab1 .short {	WIDTH: 105px}
#tab1 LI SPAN{	FONT-WEIGHT: bold; COLOR: #f60}
#all_city strong,#all_city .hot { font-weight:normal; color:#f60;}
.nav_add{line-height:50px; position:relative; z-index:1; height:50px;}
.nav_add span,.nav_add a{ float:left;}
.nav_add a,.nav_add a:visited{ height:24px; padding:0 6px 0 5px; line-height:24px; margin-top:14px; color:#282828;}
.nav_add a:hover,.nav_add .hot_Aa,.nav_add .hot_Aa:visited{ background:#2F7DC8; color:#fff; text-decoration:none; font-weight:bold;}
.nav_add .more_atop{ background:url(../img/addd.jpg) no-repeat right center; padding:0 12px 0 5px; width:28px;}
.nav_add .more_atop:hover{  background:url(../img/addd.jpg) no-repeat right center; color:#282828; font-weight:normal;}


/*AboutUs*/
.about_left{ width:177px; float:left; border:1px solid #A9CAE9; border-right:none;}
.about_left ul { background:#F5FAFE; padding-bottom:20px;}
.about_left ul li{ height:34px; line-height:34px;}
.about_left ul li a{ width:177px; height:34px; display:block; background: url(../img/a_noww.jpg) no-repeat; color:#1148AD;}
.about_left ul li a:hover,.about_left ul li .now_Aaaa{ background:url(../img/auout_hover.jpg) no-repeat; margin-top:-1px; text-decoration:none; font-weight:bold; color:#DE4313; position:relative; z-index:11;}
.about_left ul li a span{ width:120px; margin:0 auto; height:38px; padding-left:30px;}
.about_right{ width:740px; border:1px solid #A8CBE9; float:left; background:#fff; margin-left:-1px; position:relative; z-index:1; padding:30px 15px;}
.about_right h1{ width:597px; margin:0 auto; height:30px; line-height:30px; background:#EFF6FF; text-align:center; font-size:14px;}
.about_right p{ text-indent:2em; width:730px; margin:0 auto; line-height:40px;}

.btn-wrap .button,.button{ width:104px; height:30px; border:0; background:url(../img/vikecn-reg-bg.png) no-repeat left -339px; color:#FFF; font-size:14px;}

