<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.cache.provider_class">
			com.googlecode.hibernate.memcached.MemcachedCacheProvider
		</property>
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.memcached.servers">127.0.0.1:11211</property>
		<property name="hibernate.cache.region_prefix">jz8.cache.ehcache</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		
		<property name="hbm2ddl.auto">none</property>
		
		<mapping resource="com/throne212/jianzhi8/domain/User.hbm.xml" />
		<mapping resource="com/throne212/jianzhi8/domain/Region.hbm.xml" />
		<mapping resource="com/throne212/jianzhi8/domain/Link.hbm.xml" />
		<mapping resource="com/throne212/jianzhi8/domain/Type.hbm.xml" />
		<mapping resource="com/throne212/jianzhi8/domain/Content.hbm.xml" />
		<mapping resource="com/throne212/jianzhi8/domain/JobType.hbm.xml" />
		<mapping resource="com/throne212/jianzhi8/domain/JZWords.hbm.xml" />
	</session-factory>
</hibernate-configuration>

