@charset "utf-8";

body{text-align:center;font-family:"宋体",Arial Narrow,arial,serif;background:#ffffff;font-size:12px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
table,td,tr,th{font-size:12px;}
li{list-style-type:none;}
table{margin:0 auto;}
img{vertical-align:top;border:0;}
ol,ul {list-style:none;}   
caption,th {text-align:left;}  
h1,h2,h3,h4,h5,h6 {font-size:12px;font-weight:normal;}   
q:before,q:after {content:'';}   
abbr,acronym {border:0;}
address,caption,cite,code,dfn,em,th,var {font-weight:normal; font-style:normal;}   
a{color:#2b2b2b;text-decoration:none;}
a:visited {color:#2b2b2b;text-decoration:none;}
a:hover {color:#ba2636;text-decoration:underline;}
a:active {color:#ba2636;}

.inactive{color:#ccc;}

.fB{font-weight:bold;}
.fI{font-style: italic;}
.f12px{font-size:12px;}
.f14px{font-size:14px;}
.fl{float:left;}
.fr{float:right;}
.tl{text-align:left;}
.hidden{display:none;}
.unLine,.unLine a{text-decoration:none;}
.noBorder{border:none;}

.clear {clear:both; height:0; overflow:hidden; display:block;}
.clearfix:after {clear:both; height:0; overflow:hidden; display:block; visibility:hidden; content:"."; }

.blank3 {clear:both; height:3px; overflow:hidden; display:block;}
.blank6 {clear:both; height:6px; overflow:hidden; display:block;}
.blank9 {clear:both; height:9px; overflow:hidden; display:block;}
.blank12 {clear:both; height:12px; overflow:hidden; display:block;}
.blank15 {clear:both; height:15px; overflow:hidden; display:block;}
.blank20 {clear:both; height:20px; overflow:hidden; display:block;}

input.formbutton {border-top: #67aae8 2px solid;border-left: #67aae8 2px solid;width: auto; background: #2c88df; letter-spacing: 0.1em; color: #fff; overflow: visible;  cursor: pointer; border-bottom:#0070d9 2px solid;border-right:#0070d9 2px solid;_width:0;padding:4px 1.5em 2px 1.5em; * padding: 4px 1.5em 0 1.5em; font-size:14px;}

.f-input{border: #bbd0ea 1px solid; height:17px; padding:7px 6px 3px 6px; font-size:14px; background:url(../images/b1.gif) repeat-x 0 0;}

#sysmsg-box{position: absolute; top:95px; height:32px;  left: 0; width: 100%; z-index: 10; overflow: hidden;}
#sysmsg-error{border: #d01e5e 2px solid; background: #ffdcd7; color: #d01e5e;position:relative;}
#sysmsg-success{border: #690 2px solid; background: #edfeda; color: #690;position:relative;}
#sysmsg-box .sysmsg div{width:980px; margin:0 auto; height:28px; line-height:28px; position:relative;}
#sysmsg-error div{background: url(../images/sysmsg-error.gif) no-repeat 0px 5px;}
#sysmsg-success div{background: url(../images/sysmsg-success.gif) no-repeat 0px 5px;}
#sysmsg-box .sysmsg div .fl{padding:0 0 0 26px; font-size:14px;}
#sysmsg-box .sysmsg div .close{position:absolute; padding-right:16px;
background: url(../images/sysmsg-close.gif) no-repeat 100% 50%; font-size: 12px; top: 0px; cursor: pointer; right:0; }

/*navigation*/
#navigation{float:left; font-size:14px; line-height:36px; text-align:center;
	width:100%; height: auto; display：table; border-bottom:solid 0px ;
	background:url(../images/daohang.gif) ; no-repeat 0 0; }

/*navigation*/
#nav_top_plugin{float:left; font-size:14px; line-height:42px; text-align:center; width:100%; height: auto; display：table; no-repeat 0 0; border-bottom:solid 0px ; background:url(../images/bk_top_plugin1.jpg); }
