<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="proxool.pool_alias">agencyPool</property>
		<property name="proxool.xml">proxool.xml</property>
		<property name="connection.provider_class">
			org.hibernate.connection.ProxoolConnectionProvider
		</property>
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<mapping class="com.throne212.proj.domain.User" />
	</session-factory>
</hibernate-configuration>
