@charset "utf-8";
/* CSS Document */

#top{ background-image:url(../img/home2_r1_c3.jpg); height:31px; line-height:31px; background-repeat:repeat-x;}
#top .top_con{ width:951px; margin:0 auto;}
#top .top_con .top_l{ float:left;}
#top .top_con .top_r{ float:right; width:370px;}
#top .top_con .top_r span a{ margin-left:33px; color:#3E3C3D;}


#mian{ width:953px; margin:0 auto; font-family:"SimSun";}
#mian .current{color:#585858; font-size:13px; height:41px; line-height:41px;}
#mian .current a{ color:#585858;}
#mian .current a:hover{ color:#C00;}

#mian .con_left{ width:677px; float:left;}
#mian .con_left .con_left_subnav{ height:137px; border:1px solid #DCDCDC; background-color:#FEFCFD;}
#mian .con_left .con_left_subnav ul{ margin:18px 0 0 22px;}
#mian .con_left .con_left_subnav ul li{ width:58px; float:left; margin-right:33px; margin-bottom:12px; margin-bottom:10px!important; _margin-right:26px; _margin-left:4px;}
#mian .con_left .con_left_subnav ul li a span{color:#EE5D2E}
#mian .con_left .con_left_btm span{ color:#2778C9; font-size:13px;}
#mian .con_left .con_left_btm strong{ position:absolute; left:280px; color:#8A8A8A; font-weight:normal; font-size:14px;}
#mian .con_left .con_left_btm ul li{ position:relative; margin-bottom:14px; left:10px;}
#mian .con_left a{color:#333;}
#mian .con_left a:hover{ color:#C00;}
#mian .con_left .con_left_cn{ float:left; width:333px; border:1px solid #DCDCDC; margin-top:11px;}
#mian .con_left .con_left_cn ul li{ color:#646464;}
#mian .con_left .con_left_cn h3{padding-left:8px; background:url(../img/bar_r18_c19.jpg); height:32px; line-height:32px; background-repeat:repeat-x; margin-bottom:12px;}
#mian .con_left .le1{ margin-right:7px;}
#mian .con_left .con_left_btm .con{ border-top:1px solid #DCDCDC; }
#mian .con_right{ width:269px; float:right;}

#mian .con_right .con_right_con{border:1px solid #DCDCDC; margin-bottom:11px; font-size:13px;_font-size:12px;}
#mian .con_right .con_right_con h3{ background-image:url(../img/bar_r9_c24.jpg); height:30px; line-height:30px; background-repeat:repeat-x; padding-left:13px; margin-bottom:10px;}
#mian .con_right .con_right_con ul li{position:relative; left:13px; margin-bottom:14px;}
#mian .friendly_link{ color:#3E3E3E; font-size:13px; margin-top:11px;_font-size:12px; }
#mian .friendly_link span{#5A5A5A; font-weight:bold;}
#mian .friendly_link a{color:#3E3E3E;}
#mian .friendly_link_sc{ height:23px; border-bottom:1px solid #CDCDCD;}
#mian .friendly_link_sc a{ margin-right:17px;}
#mian .friedly_link_jc{ height:64px; border-bottom:1px solid #CDCDCD; line-height:32px;}
#mian .friedly_link_jc a{ margin-right:31px; _margin-right:28px;}
#mian .friedly_link_link{ height:42px; line-height:42px;}
#mian .friedly_link_link a{ margin-right:31px; _margin-right:28px;}
.copyright{text-align:center; line-height:20px; margin:0 auto; font-size:13px; padding-top:11px; border-top:2px solid #C4C4C4; margin-top:29px;}
.copyright a,.copyright a:visited{ color:#3E3E3E;}


/*招兼职列表页*/
.con_top{ border:1px solid #DCDCDC; }
.con_top_top p{ padding:5px 8px;}
.con_top_top p span{ font-weight:bold; margin-right:17px; float:left; display:block;}
.con_top_top p strong{ font-weight:normal; float:left; display:block;}
.con_top_top p b{ font-weight:normal; float:left; width:830px;}
.con_top_top p a,.con_top_top p a:visited{ margin-right:13px; color:#0D4FE4;}
.con_top_bom{ height:46px; line-height:46px; border-top:1px solid #DCDCDC; margin-top:14px; background-color:#FAFAFA; _padding-top:6px; _height:40px; _line-height:40px;}
.con_top_bom input{ vertical-align:middle;}
.con_top_bom a{ margin-right:16px; font-size:13px;_font-size:12px; color:#000;}
.con_top_bom .con_bk{ background-image:url(../img/lb_r2_c2.jpg); height:32px; width:220px; background-repeat:no-repeat; border:0; color:#999; padding-left:10px; line-height:32px;}
.con_top_bom .con_ss{ background-image:url(../img/lb_r2_c3.jpg); width:65px; height:32px; background-repeat:no-repeat; line-height:32px; font-weight:bold; border:0; cursor:pointer;}
.con_top_bom form{ margin-left:33px;}
.con_top_bom span{  font-size:13px;_font-size:12px; margin-left:24px;}

/*简历列页*/

.con_top_bom a,.con_top_bom a:visited,.con_top_bom a:hover{color:#2446DB;}
.con_top_bom .con_dl{ background-image:url(../img/bl_r4_c11.jpg); width:102px; height:28px; line-height:28px; text-align:center; background-repeat:no-repeat; border:0; cursor:pointer; color:#3051C5; margin:0 104px 0 34px;}
.nr_bq_bg{ border:1px solid #E2E2E2; margin-top:13px; color:#525252;}
.nr_bq_bg table tr{ height:35px;}
.nr_bq_bg table tr td{ border-bottom:1px solid #F4F4F4;}
.tb1{ background-color:#F7F7F7;}
.nr_bq_bg .tb1 tr td{border-bottom:1px solid #E2E2E2;}
.nr_bq_bg table tr a,.nr_bq_bg table tr a:visited{ color:#2046D5;}
.tb_p{ padding-left:28px;}
.tb_p a{ margin-right:8px;}
.tb_p .te_nr a,.tb_p .te_nr a:visited{ color:#525252; font-size:13px; _font-size:12px; position:relative;}
.tb_p .te_nn a,.tb_p p{ position:relative;}
.tb_p .te_nn a,.tb_p .te_nn a:visited{ font-weight:normal; color:#535353; position: absolute; right:20px;}
.con_fy{ height:37px; padding:6px 0 0 84px;}
.con_fy .fy_d{ width:63px; height:25px;}
.con_fy a{ display:block; width:27px; height:24px; border:1px solid #D2D2D2; line-height:24px; text-align:center; float:left; margin-right:9px;}
.con_fy a:hover{ background-color:#F4F4F4;}
.tb_bom { padding-top:13px;}
.tb_jz{ margin-top:21px;}
.tb_jz a{ font-size:13px; color:#595959;_font-size:12px; margin-right:44px;}
.tb_jz span{ color:#585858; font-weight:bold; font-size:13px;_font-size:12px; }

/*招兼职内容页*/
.con_wlnr{ border-bottom:1px solid #EFEFEF;}
.zj_con{ margin-top:20px;}

/*2012-3-12修改开始*/
.zj_con_l{ width:725px; float:left; position:relative; z-index:1;}
.nav{ position:relative; z-index:999;}
#all_city{ z-index:999;}
/*2012-3-12修改结束*/

.anniu{top:214px; left:420px; position:absolute; background-image:url(../img/br_r2_c2.jpg); background-repeat:no-repeat; width:114px; height:36px; line-height:36px; text-align:center;}
.anniu a{ color:#FFF; font-size:18px; font-family:"SimHei";}
.anniu a:hover{ text-decoration:none;}

.anniu2{top:786px; left:420px; position:absolute;}
.zj_con_l h3{ font-size:24px; height:34px; border-bottom:1px solid #ECECEC; margin-bottom:12px; position:relative; line-height:34px;}
.zj_con_l p,.con_ul li{ line-height:28px;}
.zj_con_l h3 span{ font-size:13px;_font-size:12px; position: absolute; top:0px; right:0px; font-weight:normal; color:#5B5B5B; display:block;}
.con_ubj,.con_zpx{ margin-bottom:15px;}
.zj_con_sp{ margin-bottom:28px;}
.zj_con_l ul li span,.zj_con_sp span{ color:#636363;}
.zj_con_jc{ font-size:16px; color:#3C3C3C; font-weight:bold;}
.zj_con_r{ width:198px; float:right; border:1px solid #D5D5D5; padding:12px 0 0 18px;}
.jz_bj{ background-color:#F2F7FB; width:717px; height:22px; display:block; padding-left:8px; line-height:22px;}
.con_bh li{ list-style-type:decimal; list-style-position:inside;}
.con_ddl{ width:622px; margin:12px 0 18px 0; padding-left:9px;}
.con_ds{ margin-top:18px; padding-left:9px;}
.con_ckz{ margin-top:20px;}
.con_xh{ margin-top:10px;}
.con_xh li{ height:39px; width:708px; border-bottom:1px solid #EBEBEB; line-height:39px;}
.con_xh li a{ margin-right:44px;}
.con_xh li span{ color:#171717; margin-right:29px;}
.zj_con_r h3{ font-size:13px;_font-size:12px;}
.zj_con_r p{ font-size:13px;_font-size:12px; width:179px; line-height:22px; border-bottom:1px solid #F5F5F5; padding-bottom:12px;}
.zj_con_r .zj_con_img{ text-align:center; margin:4px 0 18px 0; border:0;}
.zj_con_rz span{ vertical-align:middle; margin-left:15px;}
/*个人简历页*/
.zj_con_gr { border:0;}
.zj_con_gr .zj_con_img{border-top:1px solid #F5F5F5; padding-top:12px;}
.con_gr_jl table{ width:625px; margin-bottom:10px;}
.con_gr_jl table tr td{ height:28px; line-height:28px;}

/*求职内容页*/
.con_sjj{text-indent:2em; width:644px;}
.con_p_con{ margin:12px 0 18px 0;}
.zj_con_l table span{ color:#676767;}
.con_gzsj{ margin:13px 0 0 30px;}
.con_gzsj table tr td{ border:1px solid #DCDCDC; text-align:center;}


.nav_top{ height:75px; position:relative; z-index:2;}
.nav_top .logo_a,.nav_top ul,.nav_top div,.nav_top p{ float:left; vertical-align:middle;}
.nav_top .logo_a{ margin:15px 25px 0 6px;}
.nav_top ul{ width:70px; text-align:center; margin-right:10px; font-family:14px; padding-top:22px;}
.nav_top ul li b{ font-size:20px; color:#F8662D;}
.nav_top ul li a{ color:#0651EB;}
.nav_top div{margin-top:20px; position:relative; width:391px; height:31px;}
.nav_top div input{ width:69px; height:31px; background:url(../img/home_r3_c5_s1.jpg) no-repeat; border:none; vertical-align:middle; cursor: pointer;}
.nav_top div .agg_a,.nav_top div .agg_a:visited{ width:98px; height:29px; line-height:29px; text-align:center; color:#8B8B8B; display:block; text-align:center; background:url(../img/agg_r2_c2.jpg) no-repeat right center; float:left; border:1px solid #CBCBCB; border-right:none; margin:0; padding:0; _margin:2px -3px 0 0;}
.nav_top div .agg_a:hover{ text-decoration:none;}
.nav_top div .sr_btn{ border:1px solid #CBCBCB; border-left:none; padding:0 3px; width:216px; height:29px; line-height:29px; font-size:16px; background:none; cursor:auto;}
.nav_top .serch_div ul{ width:96px; border:1px solid #CBCBCB; border-top:none; position:absolute; left:0px; top:31px;_top:33px; padding:0; z-index:99; margin:0; vertical-align:top;}
.nav_top .serch_div ul li{ height:24px; line-height:24px; padding:0; margin:0;}
.nav_top .serch_div ul li a,.nav_top .serch_div ul li a:visited{ width:96px; height:24px; display:block; color:#8C8C8C; background:#fff;}
.nav_top .serch_div ul li a:hover{ background:#499CE8; color:#BCFBFF; text-decoration:none;}
.nav_top p{ margin-top:20px;_margin-top:22px; height:31px; line-height:31px; text-align:center;}
.nav_top p input{ width:117px; height:31px; text-align:center; line-height:31px; font-size:14px; color:#fff; background:url(../img/home_r4_c7_s1.jpg) no-repeat; border:none; font-weight:bold; margin:0 25px;}
.nav_top p a{ color:#000;}
.nav_botttom{ height:39px; background:url(../img/home_r2_c2.jpg) no-repeat; line-height:39px;}
.nav_botttom ul li{ float:left; width:115px; text-align:center; font-weight:bold; font-size:14px; background:url(../img/right.jpg) no-repeat right center;}
.nav_botttom ul li a,.nav_botttom ul li a:visited{ color:#fff; width:113px; height:39px; display:block;}
.nav_botttom ul li a:hover,.nav_botttom ul li .now_a{ background:url(../img/jl_r4_c2.jpg) no-repeat center center; text-decoration:none;}
.nr_bq_top_y{ margin-top:12px;}
.nr_bq_top_y h2{ height:32px; line-height:32px; background:url(../img/h2.jpg) repeat-x; position:relative;}
.nr_bq_top_y h2 p{ right:60px; top:0px; position:absolute}

.nr_bq_top_y h2 p a{ font-weight:normal;}
.nr_bq_top_y h2 p input{ width:102px; height:28px; border:none; cursor:pointer; background:url(../img/bl_r4_c11.jpg) no-repeat; font-size:14px; font-weight:normal; color:#3850B4; margin-left:22px; padding-left:5px;}
.nr_bq_top_y h2 p .diyi_btn{ background:url(../img/lb_r4_c9.jpg) no-repeat;}
.nr_bq_top_y h2 div{ position:absolute; left:20px; top:-1px;_top:-2px; border-left:1px solid #CCCCCC; height:33px;}


.nr_bq_top_y h2 div .now_aa,.nr_bq_top_y h2 div a:hover{ background:#fff; border-bottom:1px solid #fff; font-weight:bold; text-decoration:none;}
.nr_bq_top_y h2 div a{ float:left; height:31px; padding:0 12px; background:#F7F7F7; border:1px solid #CDCDCD; border-left:none; font-size:14px; color:#444444; font-weight:normal;}

.nr_bq_top_y table{ border-left:1px solid #E2E2E2; border-right:1px solid #E2E2E2; width:953px;}
.nr_bq_top_y table tr{ width:953px;}
.nr_bq_top_y table tr td{ height:37px; line-height:37px; border-bottom:1px solid #F4F4F4;}
.nr_bq_top_y table tr td b{ font-weight:normal; font-size:13px;}
.nr_bq_top_y table tr td .zj_b{ color:#A35407;}
.nr_bq_top_y table tr td a{ color:#223DE2; font-size:14px;}
.nr_bq_top_y table tr td img{ vertical-align:middle;}
.nr_bq_top_y table tr td span{ font-size:13px; color:#6A6A6A; margin:0 4px;}
.nr_bq_top_y table tr .td_1{ width:455px; padding-left:20px;}
.nr_bq_top_y table tr .td_2{ width:256px;}
.nr_bq_top_y table tr .td_3{ width:101px;}
.nr_bq_top_y table tr .td_2 a{ font-size:13px;}
.nr_bq_top_y table tr .td_4{ text-align:center; width:119px;}
.nr_bq_top_y table tr .td_4,.nr_bq_top_y table tr .td_3{ font-size:13px;}
.nr_bq_top_y table tr .td_top_left,.nr_bq_top_y table tr .td_top{ padding-left:20px; font-size:13px;}
.nr_bq_top_y table tr .td_top_left a,.nr_bq_top_y table tr .td_top a{ font-size:14px; margin-right:8px;}
.nr_bq_top_y h3{ height:38px; line-height:38px; border:1px solid #E2E2E2; border-top:none; padding-left:75px;}
.nr_bq_top_y h3 a{ color:#2C3FE4; border:1px solid #CECECE; padding:4px 6px; font-weight:normal;margin:0 5px;}


.nav_top .hc{ display:none; position:absolute; left:100px; top:25px;}


/*3.16*/

.index_a{ float:left; width:695px; height:70px; display:block; margin-top:2px; overflow:hidden;}
#tab_link {	CLEAR: both; MARGIN-TOP: 10px; OVERFLOW: hidden; CURSOR: pointer; FONT-FAMILY: Arial; HEIGHT: 20px}
#tab_link SPAN {PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px}
#tab_link .selected {BORDER-RIGHT: #a6daf0 1px solid; BORDER-TOP: #a6daf0 1px solid; BACKGROUND: #f1f9ff; BORDER-LEFT: #a6daf0 1px solid; COLOR: #000; BORDER-BOTTOM: #a6daf0 1px solid}
#line {	CLEAR: both; BORDER-TOP: #a6daf0 1px solid; MARGIN-BOTTOM: 5px; BORDER-BOTTOM: #f1f9ff 2px solid; height:auto; margin:0; width:399px;
}
A.hot {	COLOR: #f60}
A.hot:hover {TEXT-DECORATION: underline}
#tab1 {	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; width:auto; text-align:left; font-size:12px;}
#tab1 LI {	FLOAT: left; WIDTH: 250px; COLOR: #000}
#tab1 .short {	WIDTH: 105px}
#tab1 LI SPAN{	FONT-WEIGHT: bold; COLOR: #f60}
#all_city strong,#all_city .hot { font-weight:normal; color:#f60;}
.nav_add{line-height:50px; position:relative; z-index:1; height:50px;}
.nav_add span,.nav_add a{ float:left;}
.nav_add a,.nav_add a:visited{ height:24px; padding:0 6px 0 5px; line-height:24px; margin-top:14px; color:#282828;}
.nav_add a:hover,.nav_add .hot_Aa,.nav_add .hot_Aa:visited{ background:#2F7DC8; color:#fff; text-decoration:none; font-weight:bold;}
.nav_add .more_atop{ background:url(../img/addd.jpg) no-repeat right center; padding:0 12px 0 5px; width:28px;}
.nav_add .more_atop:hover{  background:url(../img/addd.jpg) no-repeat right center; color:#282828; font-weight:normal;}

.new_top{}
.new_t_left{ float:left; width:676px; margin-right:8px;}
.n_t_l_top{ border:1px solid #B3D1F3; background:#F5FAFE; height:117px; position:relative;}
.n_t_l_top p{ height:39px; line-height:39px; padding-left:15px; overflow:hidden;}
.n_t_l_top p input{ vertical-align:middle;}
.n_t_l_top .agg_p1 span{ display:block; background: url(../img/span_bj.jpg) repeat-x; border:1px solid #9FC8E8; float:left; display:block; height:30px; line-height:30px; margin:4px 12px 0 12px; cursor:pointer;}
.n_t_l_top .agg_p1 span b{ font-weight:normal; margin-left:12px; padding-left:20px; background:url(../img/xiabiao.png) no-repeat left center; padding-right:50px;}
.n_t_l_top .agg_p1 label{ float:left; _margin-top:10px;}
.n_t_l_top .agg_p1 .chose_label{ height:29px; border:1px solid #9FC8E4; background:url(../img/label_bj.jpg) repeat-x; display:inline-block; margin:5px 12px 0 0; *+margin:5px 7px 0 0;_margin:5px 7px 0 0; width:188px;}
.chose_label input{ border:none; background:none; height:29px; line-height:29px; font-size:12px; display:block; width:120px; float:left; color:#5E5E5E; padding-left:10px;}
.chose_label a{ float:left; display:block; height:29px; line-height:29px; width:58px; text-align:center; background:url(../img/xiabiao.png) no-repeat left  center;}
.new_t_right{ float:left; width:267px; position:relative;}
.agg_p2 label{ height:29px; border:1px solid #9FC8E4; background:url(../img/label_bj.jpg) repeat-x; display:inline-block; margin:0 12px 0 0; vertical-align:middle;}
.agg_p2 label input{border:none; background:none; height:29px; line-height:29px; font-size:12px; width:360px; color:#5E5E5E; padding-left:10px; vertical-align:middle;}
.agg_p2 .btn_label{ width:64px; height:31px; background:url(../img/serch.jpg) no-repeat; border:none; cursor:pointer;}
.agg_p2 a{ color:#0468B6; padding:0 10px;}
.agg_p3 a,.agg_p3 a:visited{ color:#24282B; padding:0 4px;}
.n_t_l_bottom{ border:1px solid #D7D7D7; margin-top:7px; height:101px;}
.n_t_l_bottom p,.n_t_l_bottom ul{ float:left;}
.n_t_l_bottom p{ width:16px; font-size:14px; color:#2551B0; text-align:center; margin:10px 8px 0 8px; font-weight:bold;}
.n_t_l_bottom ul{ width:300px; padding-top:6px;}
.n_t_l_bottom ul li{ height:22px; line-height:22px; position:relative;}
.n_t_l_bottom ul li a,.n_t_l_bottom ul li a:visited{ width:220px; float:left; height:22px; overflow:hidden; color:#262626;}
.n_t_l_bottom ul li span{ position:absolute; right:0px; top:0px; color:#656565;}
.new_t_right h2{ width:267px; height:39px; position:relative; background:url(../img/zc_bj.jpg) no-repeat; margin-bottom:12px;}
.new_t_right h2 a{ position:absolute;}
.zc_a1{ width:95px; height:39px; top:0px; left:0px; display:block;}
.zc_a1:hover{ background:url(../img/zca_r1_c1.jpg) no-repeat;}
.zc_a2{ width:78px; height:39px; top:0px; left:93px; display:block;}
.zc_a2:hover{ background:url(../img/zca_r2_c2.jpg) no-repeat;}
.zc_a3{ width:100px; height:39px; top:0px; right:0px; display:block;}
.zc_a3:hover{ background:url(../img/zca_r3_c4.jpg) no-repeat;}
.new_t_right div{ border:1px solid #D6D6D6; height:176px;}
.new_t_right div h1{ height:31px; line-height:31px; background:url(../img/h1a.jpg) repeat-x; padding-left:14px; color:#404040; font-size:14px; font-weight:bold;}
.new_t_right div ul{ width:245px; margin:0 auto; padding-top:9px;}
.new_t_right div ul li{ height:21px; line-height:21px;}
.new_t_right div ul li a,.new_t_right div ul li a:visited{ color:#1E1E1E;}
.gg_h5{ border-bottom:1px solid #8B8879; border-top:1px solid #8B8879; margin-top:12px; width:953px; overflow:hidden; display:block;}
.gg_ull{ height:60px; margin-top:12px;}
.gg_ull li{ float:left; width:311px; height:58px; border:1px solid #C9C9C9; margin-right:6px; overflow:hidden;}
.gg_ull li:nth-child(3n){ margin:0;}
.zw_leibie{ margin-top:12px; border:1px solid #D7D7D7; border-top:none; position:relative;}
.po_aa,.po_aa:visited{ position:absolute; right:10px; top:10px; color:#000;}
.zw_leibie h2{ height:35px; line-height:35px; background:url(../img/new_index_r6_c6.jpg) repeat-x; font-size:14px;}
.zw_leibie h2 span{ margin-left:10px; background:url(../img/new_index_r7_c4.jpg) no-repeat left center; padding-left:20px; width:89px; border-right:1px solid #DBDBDB; color:#D4651D;}
.zw_leibie h2 a,.zw_leibie h2 a:visited{ font-weight:normal; color:#000; padding:0 10px;border-right:1px solid #DBDBDB; }
.zw_leibie h2 a:hover,.zw_leibie h2 .now_a{ text-decoration:none; font-weight:bold; border-top:2px solid #DF8553; height:33px; line-height:33px; background-color:#fff;}
.zw_leibie h2 a,.zw_leibie h2 span{ float:left;}
.zw_leibie ul{ padding:10px 0;}
.zw_leibie ul li{ float:left; width:158px; height:29px; line-height:29px; overflow:hidden; text-align:center;}

.zw_leibie2{ margin-top:12px; border:1px solid #D7D7D7; border-top:none; position:relative;}
.zw_leibie2 h2{ height:35px; line-height:35px; background:url(../img/new_index_r6_c6.jpg) repeat-x; font-size:14px;}
.zw_leibie2 h2 span{ margin-left:10px; background:url(../img/new_index_r7_c4.jpg) no-repeat left center; padding-left:20px; width:89px; border-right:1px solid #DBDBDB; color:#D4651D;}
.zw_leibie2 h2 a,.zw_leibie2 h2 a:visited{ font-weight:normal; color:#000; padding:0 10px;border-right:1px solid #DBDBDB; }
.zw_leibie2 h2 a,.zw_leibie2 h2 span{ float:left;}
.zw_leibie2 ul{ padding:10px 0;}
.zw_leibie2 ul li{ float:left; width:158px; height:29px; line-height:29px; overflow:hidden; text-align:center;}

.zw_leibie_zhiwei h2 span{ background:url(../img/new_index_r10_c4.jpg) no-repeat left center; color:#0C62C7;}
.zw_leibie_zhiwei h2 .now_Aaa{ border-top:2px solid #0C62C7;text-decoration:none; font-weight:bold; height:33px; line-height:33px; background-color:#fff;}
.zw_leibie_zhiwei ul,.zw_leibie ul{ width:951px;}
.zw_leibie_zhiwei ul li{ width:297px; text-align:left; padding-left:20px; overflow:hidden;}
.zw_leibie_zhiwei ul li a,.zw_leibie_zhiwei ul li a:visited{ color:#212121;}
.zw_leibie_zhiwei ul li a:hover{ text-decoration:none;}
.zw_leibie_zhiwei ul li a span{ color:#1058E0; margin-left:20px;}
.jzdiv{margin-top:12px; border:1px solid #D7D7D7; border-top:none; }
.jzdiv h2{ height:35px; line-height:35px; background:url(../img/new_index_r6_c6.jpg) repeat-x; font-size:14px;}
.jzdiv h2 span{margin-left:10px; background:url(../img/new_index_r7_c4.jpg) no-repeat left center; padding-left:20px; color:#D4651D;}
.jzdiv .jz_div_main{ width:951px;}
.jzdiv .jz_div_main ul{ float:left; width:297px; background:url(../img/sbbb.jpg) no-repeat right center; padding:10px 0 10px 20px;}
.jzdiv .jz_div_main ul li{ height:30px; line-height:30px;}
.jzdiv .jz_div_main ul li b{ background:url(../img/new_index_r7_c4.jpg) no-repeat left center; padding-left:20px; font-size:14px;}
.jzdiv .jz_div_main ul li a,.jzdiv .jz_div_main ul li a:visited{ color:#393939;}
.freied{ border:1px solid #D7D7D7; background:url(../img/freied.jpg) repeat-x; margin-top:12px;}
.freied h2{ height:28px; line-height:28px; border-bottom:1px solid #D8D8D8; width:930px; margin:0 auto; color:#545253; font-size:12px;}
.freied p{ line-height:22px; padding:10px;}
.freied p a,.freied p a:visited{ color:#343434; padding-right:10px;}
.dl_top{ height:80px; position:relative; border-bottom:1px solid #DCDCDC;}
.dl_top img,.dl_top span,.dl_top a{ float:left;}
.dl_top span{ font-size:22px; color:#424242; font-family:"Microsoft YaHei"; border-left:1px solid #DCDADB; padding-left:18px; margin-top:30px;}
.dl_top img{ margin:20px 18px 0 6px;}
.dl_top p{ position:absolute; right:10px; bottom:10px;}
.dl_top p a{ float:none; padding:0 18px; color:#383838;}
.dl_div{ margin-bottom:70px; width:951px;}
.dl_div .dl_d_left{ width:554px; float:left; margin-top:88px;}
.dl_div .dl_d_right{width:332px; float:right; border:1px solid #D8D8D8; margin-top:50px;}
.dl_d_right h2{ height:30px; line-height:30px;font-size:20px; color:#424242; font-family:"Microsoft YaHei"; border-bottom:1px solid #D9D9D9; font-weight:normal; width:290px; margin:0 auto; padding-top:5px;}
.dl_d_right ul{ width:290px; margin:0 auto;}
.dl_d_right ul li,.zc_div ul li{ height:55px; line-height:55px;}
.dl_d_right ul li span{ width:57px; float:left; height:55px;}
.dl_d_right ul li input,.zc_div ul li input{ width:221px; height:30px; padding:0 4px; line-height:30px; font-size:12px; border:1px solid #C8C8C8; vertical-align:middle; float:left; vertical-align:middle; margin-top:12px;}
.dl_d_right ul li .yz_input,.zc_div ul li .yz_input{ width:56px;}
.dl_d_right ul li a,.zc_div ul li a{float:left;}
.dl_d_right ul li a img,.zc_div ul li a img{ margin-top:14px; margin-right:12px; margin-left:4px;}
.dl_d_right ul li .dl_btn{ width:92px; height:34px; background:url(../img/dl_img_r5_c4.jpg) no-repeat; border:none; cursor:pointer; margin-right:40px;}
.forget_a,.forget_a:visited{ color:#363636;}
.dl_d_right ul .fina_lis a{ float:none;}
.zc_div{ padding:20px 0; }
.zc_div p{ width:814px; height:29px; display:block; border:1px solid #F9D1B7; margin:0 auto; line-height:29px; background:#FEFAF9; color:#41403E;}
.zc_div p span{ color:#D94016; margin-left:15px;}
.zc_div ul{ width:750px; margin:0 auto; padding:10px 0;}
.zc_div ul li span{ width:78px; float:left;}
.zc_div ul li label{ margin-right:30px;}
.zc_div ul li label input{ float:none; margin:0; width:auto; margin-right:15px; border:none;}
.zc_div ul li .fina_label a,.zc_div ul li .fina_label input{ float:none; margin-right:4px; color:#0021C8;}
.zc_div ul li .zc_btn{ width:126px; height:33px; background:url(../img/zc_btn.jpg) no-repeat; border:none; cursor:pointer;}
.zc_div h2{ font-weight:normal; padding-left:100px;}

.js_erji{ width:243px; border:1px solid #BAD5F2; border-bottom:none;}
.accordion_headings{ background:url(../img/erji_js_r4_c2.jpg) no-repeat; width:244px; height:32px; line-height:32px; font-size:14px; font-weight:bold; color:#343434; cursor:pointer; border-bottom:1px solid #C2DAF2;}
.accordion_headings span{ margin-left:10px; background:url(../img/zd_r4_c6.jpg) no-repeat left center; padding-left:17px;}
.accordion_child ul li{ height:31px; line-height:31px; padding-left:15px; border-bottom:1px solid #D4E7F8;}
.accordion_child ul li a{ color:#333436; background:url(../img/zd_r10_c7.jpg) no-repeat left center; padding-left:12px;}
.accordion_child ul li a:hover{ color:#E04109; font-weight:bold; text-decoration:none;}
#basic-accordian .header_highlight{ background:url(../img/erji_js_r2_c2.jpg) no-repeat;}

.nav_adderji{ height:74px;}
.nav_add div{ width:950px; height:24px; float:left; position:relative; display:block; margin:0; padding:0;}
.nav_add div p{width:950px; height:24px; overflow:hidden;}
.nav_add div p a,.nav_add div p a:visited{ margin:0;}
.nav_add div span{ position:absolute; display:block; right:14px;right:20px\9; top:-49px; cursor:pointer; background:url(../img/addd.jpg) no-repeat right center #fff; padding:0 12px 0 5px; padding:0 8px 0 5px\9; }
.n_t_l_top .agg_p1 .chose_label2{background: url(../img/span_bj.jpg) repeat-x;}
.time_ul{ position:absolute; width:150px; background:#fff; z-index:999;  right:54px; *+right:45px; top:35px; border:1px solid #9FC8E4; border-top:none; border-bottom:none;}
.time_ul li{ height:24px; line-height:24px; border-bottom:1px solid #9FC8E4; padding-left:10px;}
.time_ul li a{ color:#5E5E5E; font-size:12px;}
.jz_pz_right .add_erji{ border:1px solid #B7D5EF; padding-bottom:15px;}
.jz_pz_right .add_erji h1{ height:32px; line-height:32px; background:url(../img/addddd.jpg) repeat-x; color:#353432; padding-left:20px;border-bottom:1px solid #D3E5F9;}
.jz_pz_right .add_erji a{ color:#0641B7}
.jz_pz_right .add_erji a:hover{ color:#0641B7}
.jz_pz_right .add_erji h3{ height:40px; line-height:40px; border-bottom:1px solid #D3E5F9; width:230px; margin:0 auto; text-align:center;}
.jz_pz_right .add_erji h3 a{ padding:0 10px;}
.jz_pz_right .add_erji ul{ width:230px; margin:0 auto;}
.jz_pz_right .add_erji ul li{ height:33px; line-height:33px; position:relative; cursor:pointer;border-bottom:1px solid #D3E5F9; border-right:none; border-top:1px solid #fff; border-left:1px solid #fff;}
.jz_pz_right .add_erji ul li p{ height:33px; width:230px;background:url(../img/zph_r2_c4.jpg) no-repeat 218px center #fff;  position:relative; }
.jz_pz_right .add_erji ul li b{ color:#0940B7; background: url(../img/zph_r3_c2.jpg) no-repeat left center; margin-left:2px; padding-left:10px;}
.jz_pz_right .add_erji ul li a{ padding:0 14px; color:#525252;}

.jz_pz_right .add_erji ul .hover_now{ border:1px solid #0940B7; border-right:none;}
.jz_pz_right .add_erji ul .hover_now p{z-index:11;}
.hover_lia div{ display:none; position:absolute; top:-1px; right:-122px;_right:-121px; z-index:1; border:1px solid #0940B7; background:#fff;}
.hover_now div{ display:block;}
.jz_pz_right .add_erji .hover_now div ul,.jz_pz_right .add_erji .hover_now div{ width:120px;}
.jz_pz_right .add_erji .hover_now div ul li{ background:none;width:120px; border:none; border-bottom:1px dashed #D3E5F9;}




/*AboutUs*/
.about_left{ width:177px; float:left; border:1px solid #A9CAE9; border-right:none;}
.about_left ul { background:#F5FAFE; padding-bottom:20px;}
.about_left ul li{ height:34px; line-height:34px;}
.about_left ul li a{ width:177px; height:34px; display:block; background: url(../img/a_noww.jpg) no-repeat; color:#1148AD;}
.about_left ul li a:hover,.about_left ul li .now_Aaaa{ background:url(../img/auout_hover.jpg) no-repeat; margin-top:-1px; text-decoration:none; font-weight:bold; color:#DE4313; position:relative; z-index:11;}
.about_left ul li a span{ width:120px; margin:0 auto; height:38px; padding-left:30px;}
.about_right{ width:740px; border:1px solid #A8CBE9; float:left; background:#fff; margin-left:-1px; position:relative; z-index:1; padding:30px 15px;}
.about_right h1{ width:597px; margin:0 auto; height:30px; line-height:30px; background:#EFF6FF; text-align:center; font-size:14px;}
.about_right p{ text-indent:2em; width:730px; margin:0 auto; line-height:40px;}




















