@CHARSET "UTF-8";

/*顶部*/
.top{width: 100%;background-color: #F8F8F8;min-height: 20px; border-bottom: 1px solid #E4E4E4;}
.top .top_line{width: 1000px;margin: 0 auto;}
.top .top_line h3{display: block;float: left; width: 200px;margin-left: 10px;}
.top .top_line .reg_login{float: right; }
.top .top_line .reg_login a{margin: 0 5px; padding-left: 5px;}

/*头部*/
.header{background-color: #FFF;height: 75px;margin: 0 auto;width: 1000px;}
.header div{float: left;}
.header .logo{width: 200px; height: 75px}
.header .logo img{display:block;margin: 20px auto;}
.header .search{width: 600px;padding: 5px 10px;}
.header .search .search_input{width: 500px;margin: 10px 0; background-color: #02319B;}
.header .search .search_input select{margin: 4px 2px 4px 4px;}
.header .search .search_input .search_key{width: 250px;margin: 4px 2px 4px 4px;}
.header .search .search_input .search_btn{width: 80px;margin: 4px 2px 4px 4px;}
.header .search .hot{width: 500px;}
.header .publish{width: 150px;height: 75px;}
.header .publish a img{display:block;margin: 20px auto;}


/*主体*/
.cleardiv{clear:both;}
.all{width:980px;height:100%;margin:0 auto;}

/*底部*/
.foot{border-top: 3px solid #02319B;background-image:url(images/bg_footer.gif);padding-top:10px;text-align:center}
.foot, .foot a{color:#000000;}
