<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
	<property name="proxool.pool_alias">pool</property>
	<property name="proxool.xml">proxool_mysql.xml</property>
	<property name="connection.provider_class">
		org.hibernate.connection.ProxoolConnectionProvider
	</property>
	<property name="connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<property name="hibernate.dialect">
		org.hibernate.dialect.MySQLDialect
	</property>
	<property name="hibernate.cache.provider_class">
		org.hibernate.cache.HashtableCacheProvider
	</property>
	<property name="hbm2ddl.auto">none</property>
	<mapping resource="com/throne212/siliao/domain/User.hbm.xml" />
	<mapping resource="com/throne212/siliao/domain/FactoryAbs.hbm.xml" />
	<mapping resource="com/throne212/siliao/domain/Log.hbm.xml" />
	<mapping resource="com/throne212/siliao/domain/FarmAbs.hbm.xml" />
	<mapping resource="com/throne212/siliao/domain/Farmer.hbm.xml" />
	<mapping resource="com/throne212/siliao/domain/Finance.hbm.xml" />
	<mapping resource="com/throne212/siliao/domain/Bill.hbm.xml" />
	<mapping resource="com/throne212/siliao/domain/Rate.hbm.xml" />
	<mapping resource="com/throne212/siliao/domain/MailSetting.hbm.xml" />
</session-factory>
</hibernate-configuration>

