<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="baseBiz" class="com.throne212.siliao.biz.impl.BaseBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	
	<bean id="userBiz" class="com.throne212.siliao.biz.impl.UserBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	
	<bean id="dataBiz" class="com.throne212.siliao.biz.impl.DataBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="farmerDao" ref="farmerDao"></property>
		<property name="userDao" ref="userDao"></property>
		<property name="rateDao" ref="rateDao"></property>
		<property name="farmAbsDao" ref="farmAbsDao"></property>
		<property name="factoryDao" ref="factoryDao"></property>
	</bean>
	
	<bean id="billBiz" class="com.throne212.siliao.biz.impl.BillBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="billDao" ref="billDao"></property>
	</bean>
	
	<bean id="statBiz" class="com.throne212.siliao.biz.impl.StatBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="financeDao" ref="financeDao"></property>
	</bean>
	
</beans>