<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="baseBiz" class="com.throne212.fupin.biz.impl.BaseBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	<bean id="userBiz" class="com.throne212.fupin.biz.impl.UserBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	<bean id="orgBiz" class="com.throne212.fupin.biz.impl.OrgBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="managerDao" ref="managerDao"></property>
	</bean>
	<bean id="adminBiz" class="com.throne212.fupin.biz.impl.AdminBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="diquBiz" class="com.throne212.fupin.biz.impl.DiquBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="diquDao" ref="diquDao"></property>
	</bean>
	<bean id="zhenBFBiz" class="com.throne212.fupin.biz.impl.ZhenBFBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="zhenDao" ref="zhenDao"></property>
	</bean>
	<bean id="cunBFBiz" class="com.throne212.fupin.biz.impl.CunBFBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="cunDao" ref="cunDao"></property>
	</bean>
	<bean id="familyBFBiz" class="com.throne212.fupin.biz.impl.FamilyBFBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="familyDao" ref="familyDao"></property>
	</bean>
	<bean id="frontBiz" class="com.throne212.fupin.biz.impl.FrontBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="frontDao" ref="frontDao"></property>
	</bean>
	<bean id="shenHeBiz" class="com.throne212.fupin.biz.impl.ShenHeBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="shenHeDao" ref="shenHeDao"></property>
	</bean>
	
	<bean id="zixunBiz" class="com.throne212.fupin.biz.impl.ZixunBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="zixunDao" ref="zixunDao"></property>
	</bean>
	<bean id="messageBiz" class="com.throne212.fupin.biz.impl.MessageBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="messageDao" ref="messageDao"></property>
	</bean>
	<bean id="discussBiz" class="com.throne212.fupin.biz.impl.DiscussBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="discussDao" ref="discussDao"></property>
	</bean>
	<bean id="reportBiz" class="com.throne212.fupin.biz.impl.ReportBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="reportDao" ref="reportDao"></property>
		<property name="familyDao" ref="familyDao"></property>
	</bean>
	<bean id="groupBiz" class="com.throne212.fupin.biz.impl.ContactGroupBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="groupDao" ref="groupDao"></property>
	</bean>
	<bean id="contactBiz" class="com.throne212.fupin.biz.impl.ContactBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="contactDao" ref="contactDao"></property>
		<property name="groupDao" ref="groupDao"></property>
	</bean>
	<bean id="statBiz" class="com.throne212.fupin.biz.impl.StatBizImpl">
		<property name="statDao" ref="statDao"></property>
	</bean>
	<bean id="projectBiz" class="com.throne212.fupin.biz.impl.ProjectBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="projectDao" ref="projectDao"></property>
	</bean>
	<bean id="questionBiz" class="com.throne212.fupin.biz.impl.QuestionBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="qDao" ref="questionDao"></property>
		<property name="cunDao" ref="cunDao"></property>
	</bean>
	<bean id="dangReportBiz" class="com.throne212.fupin.biz.impl.DangReportBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="dangReportDao" ref="dangReportDao"></property>
	</bean>
	<bean id="peopleBiz" class="com.throne212.fupin.biz.impl.PeopleBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="peopleDao" ref="peopleDao"></property>
	</bean>
	
	<!-- 定时器,11日，自动保存报表
	<bean name="autoGenReport" class="org.springframework.scheduling.quartz.JobDetailBean">
  		<property name="jobClass" value="com.throne212.fupin.common.TimerBean" />
		<property name="jobDataAsMap">
 			<map>
   				<entry key="timeout" value="10" />
   				<entry key="reportBiz" value-ref="reportBiz"></entry>
 			</map>
		</property>
	</bean>

	<bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean" lazy-init="false">
	    <property name="jobDetail" ref="autoGenReport" />
	    <property name="startDelay" value="1" />
	    <property name="repeatInterval" value="86400000" /> 
	</bean>
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
    	<property name="triggers">
	        <list>
	            <ref bean="simpleTrigger" />
	            <ref bean="simpleTrigger2" />
	        </list>
	    </property>
	</bean> -->
	
	<!-- 党建repot自动保存
	<bean name="autoGenReport2" class="org.springframework.scheduling.quartz.JobDetailBean">
  		<property name="jobClass" value="com.throne212.fupin.common.TimerBean2" />
		<property name="jobDataAsMap">
 			<map>
   				<entry key="timeout" value="10" />
   				<entry key="dangReportBiz" value-ref="dangReportBiz"></entry>
 			</map>
		</property>
	</bean>

	<bean id="simpleTrigger2" class="org.springframework.scheduling.quartz.SimpleTriggerBean" lazy-init="false">
	    <property name="jobDetail" ref="autoGenReport2" />
	    <property name="startDelay" value="1" />
	    <property name="repeatInterval" value="86400000" />
	</bean> -->
	
</beans>