<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="baseDao" class="com.throne212.fupin.dao.impl.BaseDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="userDao" class="com.throne212.fupin.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="diquDao" class="com.throne212.fupin.dao.impl.DiquDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="zhenDao" class="com.throne212.fupin.dao.impl.ZhenDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="cunDao" class="com.throne212.fupin.dao.impl.CunDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="familyDao" class="com.throne212.fupin.dao.impl.FamilyDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="managerDao" class="com.throne212.fupin.dao.impl.ManagerDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="frontDao" class="com.throne212.fupin.dao.impl.FrontDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="shenHeDao" class="com.throne212.fupin.dao.impl.ShenHeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="zixunDao" class="com.throne212.fupin.dao.impl.ZixunDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="messageDao" class="com.throne212.fupin.dao.impl.MessageDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="discussDao" class="com.throne212.fupin.dao.impl.DiscussDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="reportDao" class="com.throne212.fupin.dao.impl.ReportDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="groupDao" class="com.throne212.fupin.dao.impl.ContactGroupDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="contactDao" class="com.throne212.fupin.dao.impl.ContactDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="statDao" class="com.throne212.fupin.dao.impl.StatDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="projectDao" class="com.throne212.fupin.dao.impl.ProjectDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="questionDao" class="com.throne212.fupin.dao.impl.QuestionDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
</beans>