<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="baseBiz" class="com.throne212.fupin.biz.impl.BaseBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	<bean id="userBiz" class="com.throne212.fupin.biz.impl.UserBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	<bean id="orgBiz" class="com.throne212.fupin.biz.impl.OrgBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="managerDao" ref="managerDao"></property>
	</bean>
	<bean id="adminBiz" class="com.throne212.fupin.biz.impl.AdminBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="diquBiz" class="com.throne212.fupin.biz.impl.DiquBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="diquDao" ref="diquDao"></property>
	</bean>
	<bean id="zhenBFBiz" class="com.throne212.fupin.biz.impl.ZhenBFBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="zhenDao" ref="zhenDao"></property>
	</bean>
	<bean id="cunBFBiz" class="com.throne212.fupin.biz.impl.CunBFBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="cunDao" ref="cunDao"></property>
	</bean>
	<bean id="familyBFBiz" class="com.throne212.fupin.biz.impl.FamilyBFBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="familyDao" ref="familyDao"></property>
	</bean>
	<bean id="frontBiz" class="com.throne212.fupin.biz.impl.FrontBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="frontDao" ref="frontDao"></property>
	</bean>
</beans>