@charset "utf-8";
/* CSS Document */
* {
	margin:0px;
	padding:0px;
	font:12px Arial, Helvetica, sans-serif;
	color: #393939;
	text-decoration: none;
}
.left02 {
	width:210px;
	height:100%;
	margin-left:10px;
	_margin-left:5px;
	margin-top:10px;
	margin-right:10px;
}


.center01 {
	width:375px;
	margin-top:15px;
	_margin-top:-828px;
	margin-right:10px;
	_margin-right:-5px;       /*IE6.0*/
}
.center02 {
	width:540px;
	height:301px;
	margin-top:7px;
}
.center_img {
	width:536px;
	width:532px;
	height:296px;
	+height:294px;        /*IE7.0*/
	padding-top:5px;
}
.left_img04 {
	width:3px;
	height:301px;
	background:url(index_pic_dt01.gif) no-repeat left top;
}
.left_img05 {
	width:2px;
	height:27px;
	background:url(index_pic_dt03.gif) no-repeat left top;
	float:left;
}
.right_img02 {
	width:3px;
	height:301px;
	background:url(index_pic_dt02.gif) no-repeat right top;
}
.right_img03 {
	width:526px;
	height:27px;
	/*background:url(index_pic_dt04.gif) no-repeat top right;*/
	margin-left:5px;
	margin-top:3px;
	+margin-top:5px;        /*IE7.0*/
}

.clear {
	clear:both;
}
.float_right {
	float:right;
	margin-top:3px;
}
.float_left {
	float:left;
	margin-top:3px;
}
.tc_bg {
	display:inline-block;
	width:90px;
	height:29px;
	background:url(index_pic_xwtcbg.gif) no-repeat left top;
	margin-right:5px;
}
.tc_bg01 {
	display:inline-block;
	width:90px;
	height:29px;
	background:url(index_pic_xwtcbg.gif) no-repeat 0 -29px;
	margin-right:5px;
}
.tc_bg02 {
	display:inline-block;
	width:99px;
	height:22px;
	background:url(index_pic_dttcbg.gif) no-repeat left top;
	margin-right:5px;
}
.tc_bg03 {
	display:inline-block;
	width:99px;
	height:22px;
	background:url(index_pic_dttcbg.gif) no-repeat 0 -22px;
	margin-right:5px;
}

.text_left {
	text-align:left;
}
.text_center {
	text-align:center;
}
.text_right {
	text-align:right;
}
.cn {
	font: bold 14px Arial, Helvetica, sans-serif;
	color:#ffffff;
	line-height:26px;
}
a.cn:hover {
	color:#ffffff;
}
.cn1 {
	font:14px Arial, Helvetica, sans-serif;
	color:#ffffff;
	line-height:28px;
}
a.cn1 {
	text-decoration: none;
}
a.cn1:hover {
	color:#FF0;
}
.cn2 {
	font: bold 12px Arial, Helvetica, sans-serif;
	color:#393939;
	line-height:29px;
}
a.cn2 {
	text-decoration: none;
}
a.cn2:hover {
	color:#F60;
}
.cn3 {
	font: 12px Arial, Helvetica, sans-serif;
	color:#393939;
	line-height:29px;
}
a.cn3 {
	text-decoration: none;
}
a.cn3:hover {
	color:#F90;
}
.cn4 {
	font: bold 14px Arial, Helvetica, sans-serif;
	color:#e65200;
	line-height:35px;
}
.cn5 {
	font: 12px Arial, Helvetica, sans-serif;
	color:#900;
	line-height:13px;
}
a.cn5 {
	text-decoration: none;
}
a.cn5:hover {
	color:#F90;
}
.cn6 {
	font:14px Arial, Helvetica, sans-serif;
	color:#333333;
	line-height:28px;
}
a.cn6 {
	text-decoration: none;
}
a.cn6:hover {
	color:#F60;
}
.cn7 {
	font: bold 12px Arial, Helvetica, sans-serif;
	color:#F60;
	line-height:23px;
}
.cn8 {
	font: bold 14px Arial, Helvetica, sans-serif;
	color:#952300;
	line-height:26px;
}
.cn9 {
	font: 12px Arial, Helvetica, sans-serif;
	color:#393939;
}
.cn10 {
	font: 14px Arial, Helvetica, sans-serif;
	color:#393939;
	line-height:25px;
}
a.cn10 {
	text-decoration: none;
}
a.cn10:hover {
	color:#F90;
}
.cn11 {
	font: 12px Arial, Helvetica, sans-serif;
	color:#393939;
	line-height:25px;
	margin-top:-7px;
}
a.cn11 {
	text-decoration: none;
}
a.cn11:hover {
	color:#F90;
}
.cn12 {
	font: bold 14px Arial, Helvetica, sans-serif;
	color:#e65200;
	line-height:29px;
}
a.cn12:hover {
	color:#FFF;
}
.cn13 {
	font: 12px Arial, Helvetica, sans-serif;
	color:#333;
}
.cn14 {
	font: 12px Arial, Helvetica, sans-serif;
	color:#0051A2;
	line-height:25px;
}
a.cn14 {
	text-decoration:none;
}
a.cn14:hover {
	color:#F90;
}
.cn15 {
	font: bold 14px Arial, Helvetica, sans-serif;
	color:#666;
	line-height:22px;
}
.cn16 {
	font: bold 14px Arial, Helvetica, sans-serif;
	color:#e65200;
	line-height:22px;
}
.cn17 {
	font: bold 14px Arial, Helvetica, sans-serif;
	color:#666;
	line-height:30px;
}
a.cn17 {
	text-decoration:none;
}
a.cn17:hover {
	color:#F30;
}
.cn18 {
	display:inline;
	width:auto;
	margin-left:10px;
	padding-right:8px;
	font: bold 14px Arial, Helvetica, sans-serif;
	color:#666;
	line-height:30px;
}
.cn19 {
	font: bold 14px Arial, Helvetica, sans-serif;
	color:#ffffff;
	line-height:26px;
}
a.cn19:hover {
	color:#e65200;
}

li.list01 {
	background:url(index_pic_meun.gif) no-repeat left center;
	margin-left:15px;
	+margin-left:-2px;    /*IE7.0*/
	_margin-left:-5px;    /*IE6.0*/
	padding-left:15px;
	+padding-left:12px;    /*IE7.0*/
	+overflow:hidden;      /*IE7.0*/
	height:25px;
	width:100%;
}
li.list02 {
	padding-left:8px;
	+padding-left:0px;      /*IE7.0*/
	list-style:disc inside;
}
li.list03 {
	display:block;
	width:100%;
	padding-left:8px;
}
li.list04 {
	background:url(index_pic_meun01.gif) no-repeat left center;
	margin-left:15px;
	+margin-left:-2px;    /*IE7.0*/
	_margin-left:0px;    /*IE6.0*/
	padding-left:15px;
	+padding-left:12px;    /*IE7.0*/
	+overflow:hidden;      /*IE7.0*/
	height:25px;
	width:97%;
}
li.list05 {
	display:block;
	width:auto;
	text-align:center;
	+margin-left:-15px;       /*IE7.0*/
	margin-top:5px;
}
li.list06 {
	background:url(index_pic_meun02.gif) no-repeat left center;
	margin-left:10px;
	+margin-left:-2px;    /*IE7.0*/
	_margin-left:-2px;    /*IE6.0*/
	padding-left:15px;
	+padding-left:12px;    /*IE7.0*/
	+overflow:hidden;      /*IE7.0*/
	height:25px;
}
li.list07 {
	background:url(index_pic_meun03.gif) no-repeat left center;
	margin-left:15px;
	+margin-left:-2px;    /*IE7.0*/
	_margin-left:10px;    /*IE6.0*/
	padding-left:15px;
	+padding-left:12px;    /*IE7.0*/
	+overflow:hidden;      /*IE7.0*/
	height:25px;
	width:auto;
}
li.list08 {
	background:url(index_pic_meun01.gif) no-repeat left center;
	margin-left:15px;
	+margin-left:-2px;    /*IE7.0*/
	_margin-left:0px;    /*IE6.0*/
	padding-left:15px;
	+padding-left:12px;    /*IE7.0*/
	+overflow:hidden;      /*IE7.0*/
	height:25px;
	width:auto;
}
li.list09 {
	background:url(gl_meun.gif) no-repeat left center;
	display:block;
	width:70%;
	+margin-right:12px;      /*IE7.0*/
	padding-left:35px;
	+overflow:hidden;      /*IE7.0*/
	height:30px;
}
ul.button {
	display:block;
	margin-left:15px;
}
.button01 {
	display:inline-block;
	width:82px;
	height:26px;
	background:url(index_pic_dhbg.gif) no-repeat;
	text-align:center;
	float:left;
	margin-right:4px;
}
.button02 {
	display:inline-block;
	width:82px;
	height:26px;
	background:url(index_pic_dhbg.gif) no-repeat 0 -26px;
	text-align:center;
	float:left;
	margin-right:4px;
}
.dorpmenu {
	height:28px;
	background:url(index_pic_xlbg.gif) repeat-x;
	padding-left:20px;
	clear:both;
	margin-bottom:5px;
}
.link {
	width:980px;
	height:29px;
	background:#e2e2e2 url(index_pic_dhbg02.gif) no-repeat top right;
	margin:0 auto;
	clear:both;
}
.pic {
	width:5px;
	margin-right:15px;
	float:left;
}
.column {
	display:inline-block;
}
.pic01 {
	width:62px;
	height:21px;
	float:right;
	margin-right:45px;
	margin-top:-25px;
}

/* START - Table styles - bordercolorlight/bordercolordark equivalent */
.tables_search
{
margin:0px 0px 20px 0px;
height:40px;
background-color:#418FD0;
}
.tables_table {
	border-top:				1px solid #F09966; 
	border-left:			1px solid #F09966; 
	border-right:			1px solid #F09966; 
	color: #000000;
}
.tables_table_full_border {
	border-top:			1px solid #4D9EE3; 
	border-left:			1px solid #4D9EE3; 
	border-right:			1px solid #4D9EE3;
	border-bottom:			1px solid #4D9EE3;
}
.tables_headercell {
	border-top:				1px solid #FFFFFF; 
	border-left:			1px solid #FFFFFF; 
	border-right:			1px solid #F09966; 
	border-bottom:			1px solid #F09966; 
	BACKGROUND-COLOR:#FF9966;
	background-position:bottom;
	text-align:center;
	FONT-WEIGHT: 			bold;
	COLOR: 					#FFFFFF;
	padding:				2px;	
}
.tables_leftcell {
	border-top:				1px solid #FFFFFF; 
	border-left:			1px solid #FFFFFF; 
	border-right:			1px solid #4D9EE3; 
	border-bottom:			1px solid #4D9EE3;
	BACKGROUND-COLOR: 		#EFF6FF; 
	padding:				5px;
	font-size:				12px;
	font-weight:bold;
	color: #000000;
}
.tables_contentcell {
	border-top:				1px solid #FFFFFF; 
	border-left:			1px solid #F09966; 
	border-right:			1px solid #F09966; 
	border-bottom:			1px solid #F09966;
	BACKGROUND-COLOR: 		#FFFFFF; 
	padding:				2px;
	font-size:				12px;
	color: #000000;
}
.tables_contentcellalt {
	border-top:				1px solid #FFFFFF; 
	border-left:			1px solid #FFFFFF; 
	border-right:			1px solid #4D9EE3; 
	border-bottom:			1px solid #4D9EE3;
	BACKGROUND-COLOR: 		#EFF6FF; 
	padding:				5px;
	font-size:				12px;
	color: #000000;
}
/* END - Table styles - bordercolorlight/bordercolordark equivalent */
.downline3 a {	COLOR: #3c3c3c;	TEXT-DECORATION: none;font-size:14px;}
.downline3 a:hover {	COLOR: #ff0000;	TEXT-DECORATION: none}
.downline3 a.link {	TEXT-DECORATION: none}
.downline3 a.link:hover {	COLOR: #ff0000;	TEXT-DECORATION: none}	  
.downline3 {
padding:2px;
border-bottom:1px dashed #C8C6C6;
list-style:none;
float:left;
height:18px;
line-height:18px;
margin-bottom:10px;
margin-left:8px;
margin-right:8px;
text-align:center;
width:80px;
}