<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="baseDao" class="com.throne212.info168.web.dao.impl.BaseDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="areaDao" class="com.throne212.info168.web.dao.impl.AreaDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="cateDao" class="com.throne212.info168.web.dao.impl.CateDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="infoDao" class="com.throne212.info168.web.dao.impl.InfoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
</beans>