<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="baseBiz" class="com.throne212.info168.web.biz.impl.BaseBizImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	
	<bean id="userBiz" class="com.throne212.info168.web.biz.impl.UserBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="infoDao" ref="infoDao"></property>
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean id="commonBiz" class="com.throne212.info168.web.biz.impl.CommonBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="areaDao" ref="areaDao"></property>
		<property name="cateDao" ref="cateDao"></property>
	</bean>
	
	<bean id="infoBiz" class="com.throne212.info168.web.biz.impl.InfoBizImpl">
		<property name="baseDao" ref="baseDao"></property>
		<property name="infoDao" ref="infoDao"></property>
	</bean>
	
</beans>